@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.background{
  padding: 0px 40px 20px 40px;
  background-color: rgb(240, 240, 241);
}
.tech-skills-container {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}
.techskill{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15px;
}

.techcards{
  justify-content: space-evenly;
}

.techtitle{
  justify-content: center;
}
.techtitle h3{
  width:fit-content;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.card-title{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
}

.card-img-top{
  height: 80px;
  width: auto;
  margin-top: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 15px
}
.card{
  min-width: 300px;
  width: 30%;
  max-width: 22rem;
  border-radius: 4px;
  background: #cacaca;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  margin-top: 10px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-text{
  text-align:center;
  font-family: 'Roboto Slab', serif;
}
.card-body{
  min-height: 200px;
}

.about-me-container {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top:70px;
}
.profilepic-and-badges{
  align-self: center;
  justify-content: center;
  display: flex;
}
.social-media-icons{
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.linkedIn a {
  color:rgb(0, 119, 181);
  display: flex;
  justify-content: center;
}
.github a {
  color:rgb(23, 21, 21);
  display: flex;
  justify-content: center;
}
.email a {
  color:rgb(177, 181, 181);
  display: flex;
  justify-content: center;
}
.intro-text{
  margin: 0px 20px 0px 20px;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}
.intro-text h5{
  margin-bottom:24px;
  font-family: 'Roboto Slab', serif;
}

@media (max-width:992px) and (min-width:0) {
  .intro-text h5{
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }
}
.projecttitle{
  justify-content: center;
}
.projecttitle h3{
  width:fit-content;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.contacttitle{
  justify-content: center;
}
.contacttitle h3{
  width:fit-content;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.nav-options{
  display:flex;
  justify-content: space-evenly;
}

.navbar-collapse{
  justify-content: flex-end;
  margin-right: 20px;
  font-family: 'Roboto Slab', serif;
}

.navbar-brand{
  margin-left: 20px;
  font-family: 'Roboto Slab', serif;
}

.my-projects-div{
  padding-top:60px;
}
.contact-me-div{
  padding-top:60px;
}
.contact-me-text{
  margin: 0px 20px 0px 20px;
  font-family: 'Roboto Slab', serif;
}
.project-container{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.accordion{
  min-width: 40%;
  max-width: 22rem;
  margin-top: 10px;
  font-family: 'Roboto Slab', serif;
  background-color: #cacaca;
}
.code-buttons{
  display:flex;
  justify-content: space-evenly;
}
figure{
  margin: 0 0 0rem;
}
.figure-img{
  margin-bottom: 0px;
}
.project-title{
  display:flex;
  justify-content: center;
  align-items: center;
}
.project-header{
  width:100%;
  font-family: 'Roboto Slab', serif;
}